alembic==1.6.5                  # Database migration tool for SQLAlchemy
click==8.0.1                    # Command-line interface toolkit
Flask==2.2.3                    # Web framework for Python
Flask-Cors==3.0.10              # For handling Cross-Origin Resource Sharing (CORS)
Flask-Migrate==3.1.0            # For database migrations
Flask-SQLAlchemy==2.5.1         # SQLAlchemy integration with Flask
Flask-Login==0.6.1              # For user session management
greenlet==2.0.1                 # Lightweight in-process concurrent programming
gunicorn==20.1.0                # WSGI HTTP server for running Flask apps
itsdangerous==2.1.2             # For secure cookie handling
Jinja2==3.1.2                   # Templating engine for Flask
Mako==1.1.4                     # Templating engine
MarkupSafe==2.1.1               # Required for Jinja2
psycopg2-binary==2.9.1          # PostgreSQL adapter for Python (binary version)
psycopg==3.1.12                 # Alternative modern PostgreSQL adapter
python-dateutil==2.8.1          # Extensions to the standard Python datetime module
python-editor==1.0.4            # A simple editor for Python
pytest==7.1.2                   # Testing framework
ruamel.yaml==0.17.21            # YAML parser and emitter
six==1.16.0                     # Python 2 and 3 compatibility utilities
SQLAlchemy==1.4.18              # SQL toolkit and Object-Relational Mapping (ORM) system
Werkzeug==2.2.3                 # WSGI utility library for Flask
pyjwt==2.4.0                    # JSON Web Token implementation for Python
python-jose==3.3.0              # For JWT and encryption support